rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'owner'];
    }

    match /users/{userId} {
      allow read: if isAuthenticated();
      // владелец профиля может менять свой профиль; админы могут менять роли
      allow update: if isAuthenticated() && (
        request.auth.uid == userId || isAdmin()
      );
      allow create: if isAuthenticated() && request.auth.uid == userId;
      // удаление из команды: владелец удаляет админов и участников, админ — только участников
      allow delete: if isAuthenticated() &&
        get(/databases/$(database)/documents/users/$(userId)).data.role != 'owner' && (
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'owner' ||
          (
            get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' &&
            get(/databases/$(database)/documents/users/$(userId)).data.role == 'member'
          )
        );
    }

    match /tracks/{trackId} {
      allow read, write: if isAuthenticated();
    }

    match /beats/{beatId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() &&
        request.resource.data.beatmakerUid == request.auth.uid &&
        (
          isAdmin() ||
          'beatmaker' in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles
        );
      allow update: if isAuthenticated() && (
        request.resource.data.beatmakerUid == request.auth.uid ||
        isAdmin()
      );
      allow delete: if isAuthenticated() && (
        get(/databases/$(database)/documents/beats/$(beatId)).data.beatmakerUid == request.auth.uid ||
        isAdmin()
      );
    }

    match /artistRequests/{requestId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && request.auth.uid == request.resource.data.uid;
      allow update: if isAuthenticated() && isAdmin();
      allow delete: if false;
    }

    match /notifications/{notificationId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && request.auth.uid == request.resource.data.actorUid;
      allow update: if isAuthenticated();
      allow delete: if false;
    }

    match /projects/{projectId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && request.auth.uid == request.resource.data.beatmakerUid;
      allow update: if isAuthenticated() && (
        request.auth.uid == resource.data.beatmakerUid ||
        isAdmin()
      );
      allow delete: if isAuthenticated() && (
        request.auth.uid == resource.data.beatmakerUid ||
        isAdmin()
      );
    }
  }
}
