rules_version = '2';
service firebase.storage {
  function isAdmin() {
    return request.auth != null &&
      firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role in ['admin', 'owner'];
  }

  match /b/{bucket}/o {
    match /covers/{trackId}/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow list: if request.auth != null;
      allow create, update, delete: if isAdmin();
    }
  }
}